* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 100vh;
    background-color: #ececec;
}

.black {
    position: absolute;
    background-color: black;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

.navigation {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1%;
    z-index: 1000;
    position: fixed;
}

.logo {
    height: 100%;
    padding: 1%;

}

.logo-left {
    flex: 4;
    height: 10vh;

}

nav {
    height: 10vh;
    text-align: right;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    align-items: center;
    flex: 1;
}

.nav-bar {
    height: 10vh;
    display: flex;
    list-style-type: none;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.nav-bar-li {
    margin: 0 5%;
}

.background {
    height: 100vh;
    width: 100%;
}

.mid-logo {
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    width: 30rem;
    border: 10px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #262626;
    background-color: white;
}

.med{
    width: 20rem;
    box-shadow: 0 0 5px 5px black;
    background-color: #d7d7d7;
    z-index: -2;
    left: 70%;
    top: 60%;
}

.sma{
    width: 10rem;
    left: 60%;
    top: 70%;
    box-shadow: 0 0 3px 3px black;
    background-color: #aeaeae;

    z-index: -3;
}

.border:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media screen and (max-width: 900px) {
    .border {
        width: 70%;
    }

    .mid-logo {
        height: 20vh;
    }
}

@media screen and (max-width: 1000px) {

    .border {
        width: 15rem;
    }

    .mid-logo {
        height: 20vh;
    }

}