@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

.introduction-page{
    height: 35rem;
    background-color: #060606;
    display: flex;
}

.intro-text{
    display: flex;
    width: 100%;
    margin: 0 5% 5% 0;
    background-color: transparent;
    height: 80%;
    padding: 5%;
    font-family: cabin, sans-serif;
    color: white;
    font-size: 25px;
}

.intro-photo{
    height: 40%;
    margin: 5% 5% 5% 0;
    box-shadow: 10px 10px #050505;
}

.intro-text>p{
    flex: 2;
    padding: 50px;
}

.intro-text>img{
    flex: 1;
    height: 15rem;
}

@media screen and (max-width: 1000px){
    .introduction-page{
        display: block;
        height: 40rem;
    }

    .intro-text{
        display: flex;
        flex-direction: column;
        height: 20rem;
    }

    .intro-text>p{
        width: 100%;
        padding: 30px;
    }

    .intro-text>img{
        width: 95%;
        height: 12rem;
        margin: 0 0 0 5%;
    }



}