@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

.introduction-page{
    height: 35rem;
    background-color: #060606;
    display: flex;
}

.intro-text{
    display: flex;
    width: 100%;
    margin: 0 5% 5% 0;
    background-color: transparent;
    height: 80%;
    padding: 5%;
    font-family: cabin, sans-serif;
    color: white;
    font-size: 25px;
}

.intro-photo{
    height: 20rem;
    width: 35rem;
    margin: auto;
    box-shadow: 10px 10px #050505;
}

.intro-text>p{
    width: 50%;
    padding: 50px;
}

.intro-text>img{
    width: 50%;
    height: 15rem;
}

@media screen and (max-width: 980px){
    .introduction-page{
        display: block;
        height: 40rem;
    }

    .intro-text{
        display: flex;
        flex-direction: column;
        height: 20rem;
    }

    .intro-text>p{
        width: 100%;
        padding: 30px;
    }

    .intro-text>img{
        width: 20rem;
        height: 12rem;
        margin: auto;
    }

    .image-side{
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .intro-photo{
        width: 80%;
        height: 100%;
        margin: auto;
    }



}