.burger-line{
    background-color: white;
    color: white;
    list-style-type: none;
    margin: 5px;
    height: 5px;
    width: 30px;
    display: none;
    align-items: center;
}

.burger-ul{
    align-items: center;
    margin: 10% 0 10% 60%;
}

.about-text{
    margin-top: 20vh;
    font-size: 25px;
}

.nav-stick{
    position: fixed;
    top: 0;
}

@media screen and (max-width: 980px){
    .burger-ul{
        margin-left: 30%;
    }
}