.samenwerkingen {
    height: 550px;
    background-color: #090909;
    padding: 5%;
}

.orange-border{
    width: 100%;
    background-color: #ff8904;
    height: .5rem;
}

.samenwerkingen-kop {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.projects-kop{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.projects-text{
    padding-top: 2rem;

}

.bedrijven {
    display: flex;
    flex-direction: column;
}

.bedrijven-row {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
    height: 150px;
    margin: 1% 0;
    align-items: center;
    text-align: center;
}


.bedrijf {
    margin: 5%;
    padding: 5%;
    transition: .1s;
    align-items: center;
}



.opdracht {
    height: 120px;
    width: 200px;
}

.small {
    height: 120px;
    width: 120px;
    text-align: center;
    margin-left: auto;
}

.low{
    height: 70px;
    width: 250px;
}

.wide {
    display: none;
}

.bedrijven-row-wide {
    display: none;
}

@media screen and (max-width: 1100px) {
    .bedrijven-row {
        display: none;
    }
    .samenwerkingen{
        height: 50rem;
    }

    .low{
        transform: translateY(0);
    }

    .bedrijf{
        margin: 0;
        padding: 0;
    }


    .opdracht-square {
        height: 100px;
        width: 100px;
        align-items: center;
    }

    .opdracht-recht{
        height: 80px;
        width: 140px;
    }

    .long{
        width: 200px;
    }

    .no-wide {
        display: none;
    }

    .bedrijven-row-wide {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 5%;
    }

    .wide {
        display: grid;
    }

    .samenwerkingen-kop {
        font-size: 2.5rem;
    }
}