.samenwerkingen {
    height: 550px;
    background-color: #090909;
    padding: 5%;
}

.samenwerkingen-kop {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 2.5%;
}

.bedrijven {
    display: flex;
    flex-direction: column;
}

.bedrijven-row {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
    height: 150px;
    margin: 1% 0;
}

.bedrijf {
    margin: 5%;
    padding: 5%;
    filter: gray();
    -webkit-filter: grayscale(1);
    transition: .1s;
    align-items: center;
}

.bedrijf:hover {
    filter: none;
    transition: .1s;
}

.opdracht {
    height: 120px;
    width: 200px;
}

.small {
    height: 120px;
    width: 120px;
    text-align: center;
    margin-left: 20%;
}

.low{
    height: 70px;
    width: 250px;
    transform: translateY(50%);
}

.wide {
    display: none;
}

.bedrijven-row-wide {
    display: none;
}

@media screen and (max-width: 980px) {
    .low{
        transform: translateY(0);
    }
    .bedrijven-row {
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
        height: 10vh;
    }

    .opdracht {
        height: 8vh;
        width: 80%;
        align-items: center;
    }

    .no-wide {
        display: none;
    }

    .bedrijven-row-wide {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 5%;
    }

    .wide {
        display: grid;
    }

    .samenwerkingen-kop {
        font-size: 24px;
    }
}