.specialties{
    display: flex;
    flex-direction: column;
    height: 30rem;
    background-color: black;
}

.service-grid{
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.first{
    display: grid;
    background-color: #000000;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

.dienst-logo{
    height: 15rem;
    width: 15rem;
}

.services{
    margin: -10% 0 0 0;
    list-style-type: none;
    font-size: 1.2rem;
    color: white;
    height: 50%;
}

@media screen and   (max-width: 1100px) {
    .specialties{
        height: 100rem;
    }

    .first{
        height: 30rem;
    }
}

@media screen and (max-width: 980px) {
    .first{
        height: 25rem;
        grid-template-columns: 100%;
    }

    .specialties{
        height: 90rem;
    }

    .service-grid{
        display: grid;
        grid-template-columns: 100%;
    }

    .services{
        display: flex;
        flex-direction: column;
        height: 100%;
        grid-template-columns: 100%;
        line-height: 1.6;
        margin-top: 5px;
    }
}