.specialties{
    display: grid;
    height: 20rem;
    background-color: black;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

.first{
    display: grid;
    background-color: #000000;
    height: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.dienst-logo{
    height: 50%;
    width: 40%;
}

.services{
    margin: -10% 0 0 0;
    list-style-type: none;
    font-size: 1.2rem;
    color: white;
    height: 50%;
}

@media screen and (max-width: 980px) {
    .specialties{
        display: grid;
        height: 80rem;
        grid-template-columns: 100%;
    }
}